body {
  height: 500px;
}

.vc-bg {
  background-color: #fafaf9;
}

.vc-font-h1 {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  font-size: 2.5em;
}

.vc-font-button {
  font-family: "Open Sans", Arial, Tahoma, sans-serif;
  font-size: 1.5em;
}

.vc-button {
}
